<table id="tablePreview" class="table">
  <thead>
    <tr>
      <th>Photo, Title & Ingredients</th>
      <th> </th>
      <th class="text-right">Rating, Acloholic, Glass Type</th>
    </tr>
  </thead>

</table>
<% @cocktails.each do |cocktail| %>
  <%= render 'shared/cocktail_list', cocktail_within: cocktail%>
<% end %>
