<%= render 'shared/banner'%>
<div class="container text-center">
<h1 class="m-4">Cocktails</h1>
</div>
<div class="container"><i class="thumb-list-toggle fas fa-th-list"></i><i class="thumb-list-toggle fas fa-th-large"></i></div>
<div class="container"><i class="fas fa-wine-glass-alt"></i><p>Alcoholic?</p></div>
<div class="container">
  <div class="row justify-content-around">
    <% @cocktails.each do |cocktail| %>
      <%= render 'shared/card', cocktail_within: cocktail%>
    <% end %>
  </div>
</div>
