<div class="container text-center">
<%= render 'shared/banner'%>
<h1>All cocktails</h1>
<ol>
  <% @cocktails.each do |cocktail| %>
  <li> <%= link_to cocktail.name, cocktail_path(cocktail.id) %> </li>
  <% end %>
</ol>
<%= link_to 'Create a cocktail', new_cocktail_path  %>
</div>
