<%= render 'shared/show_banner', cocktail_within: @cocktail %>
<div class="container">
  <div class="modal-body row">
    <div class="col-md-6">
      <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
    </div>
    <div class="col-md-6">

      <%= render 'shared/table', cocktail_within: @cocktail %>

    </div>
  </div>

</div>
