@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

/*** basic styles ***/

#ingredient {

  td{
  font-weight: none;
  }
}
#ingredient:hover {
  outline: 1px solid lightgray;
  outline-offset: -1px;
  td{
    font-weight: bold;
  }
}

#add_ingredient {
  border: none;
  td, i{
  transition: 0.2s;
  }

}
#add_ingredient:hover {
  background-color: darkgray;
  color: white;
  cursor: pointer;
  outline: 1px solid lightgray;
  outline-offset: -1px;
  td{
    font-weight: bold;
  }
  i {
    transform: rotate(45deg);
  }
}

#edit-button-border{
  border: 1px solid black;
  border-radius: 10px;
  transition: .2s;
  width: 42px;
  text-align: right;
  height: 42px;
  position: relative;
  background-color: #f4f4f4;
  p {
    opacity: 0;
    top: 5px;
    left: 45px;
    position: absolute;
  }
}

#delete-button-border{
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid black;
  border-radius: 10px;
  width: max-content;
  a{
    color: black;
  }
}

#delete-button-border:hover {
  padding-left: 4px;
  background-color: darkred;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  a{
    color: white;
  }
  i {
    color: white;
  }
}

#edit-button-border:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  width: 140px;
  transition: .2s;
  background-color: white;
    p {
      opacity: 1;
    transition: 1s;
    }
    .edit-button-img {
      -webkit-transform: rotate(10deg);
      transform-origin: center;
      }
}

  .edit-button-img {
    width: 30px;
    position: absolute;
    top: 5px;
  }

#img_button {
  position: relative;
}

#img_button:hover {
  position: relative;
  #img_button_edit {
    opacity: 1;
  }
}
#img_button_edit {
  position: absolute;
  top: -3px;
  left: 5px;
  opacity: 0;
  transition: .5s;
}
