<div class="banner_homepage" style="background-image: linear-gradient(rgba(32,0,0,0.6), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dj9iphc8u/image/upload/v1603980437/pexels-george-desipris-1028637_hls5ol.jpg);">
  <div class="container">
    <h1>Welcome to the <strong>Bar</strong></h1>
    <p>Discover, find & create the best cocktail recipes!</p>
    <div id="new_wrapper">
      <p id="new_wrapper_text">Discover</p>
    <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1604060359/right-arrow_lvqiuf.svg", alt: "alttext", id: "arrow_new" %>
    </div>
    <div id="search_wrapper">
      <p id="search_wrapper_text">Find</p>
    <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1604061279/up-arrow_lpdy5a.svg", alt: "alttext", id: "arrow_search" %>
    </div>
    <div id="create_wrapper">
      <p id="create_wrapper_text">Create</p>
    <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1604060359/right-arrow_lvqiuf.svg", alt: "alttext", id: "arrow_create" %>
    </div>
  </div>
</div>
