<div class="banner_homepage">
  <div class="container">
    <h1>
      Welcome to the <strong>Bar</strong>
    </h1>
    <p>
      Discover, find & create the best cocktail recipes!
    </p>
    <div id="new_wrapper">
      <p>
        Discover
      </p>
      <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1604060359/right-arrow_lvqiuf.svg",
                     alt: "alttext", id: "new_arrow" %>
    </div>
    <div id="search_wrapper">
      <p>
        Find
      </p>
      <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1604061279/up-arrow_lpdy5a.svg",
                     alt: "alttext", id: "search_arrow" %>
    </div>
    <div id="create_wrapper">
      <p>
        Create
      </p>
      <%= image_tag "https://res.cloudinary.com/dj9iphc8u/image/upload/v1604060359/right-arrow_lvqiuf.svg",
                     alt: "alttext", id: "create_arrow" %>
    </div>
  </div>
</div>
