<div class="banner" style="background-image: linear-gradient(rgba(32,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dj9iphc8u/image/upload/v1603980437/pexels-george-desipris-1028637_hls5ol.jpg);">
  <div class="container">
    <h1>Welcome to the <strong>Bar</strong></h1>
    <p>Find cocktail recipes and create your own!</p>

    <a class="btn btn-light btn-lg font-weight-bold" href="/cocktails/new">START HERE</a>
  </div>
</div>
