<div class="banner" style="background-image: linear-gradient(rgba(32,0,0,0.6),rgba(0,0,0,0.4)), url(https://blog.koelntourismus.de/wp-content/uploads/2018/02/Cocktail.jpg);">
  <div class="container">
    <h1>Welcome to the <strong>Cocktail Creation </strong> App</h1>
    <p>Create your favorite cocktails!</p>

    <a class="btn btn-warning btn-lg font-weight-bold" href="/cocktails/new">START HERE</a>
  </div>
</div>
