 <div class="col-sm-6 col-md-3">
  <div class="card" style="width: 16rem;">
    <img class="card-img-top img-thumbnail"  style="height: 300px; object-cover: cover; " src="<%= cl_image_path(cocktail_within.photo.key) if cocktail_within.photo.attached? %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><%= cocktail_within.name %></h5>
      <p class="card-text">Ingrtedients: <% cocktail_within.ingredients.each do |ing| %>
                                          <%= ing.name  %>,
                                          <% end %> </p>
      <a href=<%="/cocktails/#{cocktail_within.id}" %> class="btn btn-primary">Details</a>
    </div>
  </div>
</div>
