<div class="banner_footer" style="background-image: url(https://res.cloudinary.com/dj9iphc8u/image/upload/v1603980437/pexels-george-desipris-1028637_hls5ol.jpg);">
  <div class="container">
    <h4>Made with love</h4>
  </div>
</div>
