<div class="banner_footer" style="background-image: linear-gradient(rgba(32,0,0,0.6), rgba(0,0,0,0.4)),
                                  url(<%= if @cocktail.nil? || !@cocktail.photo.attached?
                                            "https://res.cloudinary.com/dj9iphc8u/image/upload/v1603980437/pexels-george-desipris-1028637_hls5ol.jpg"
                                          else
                                            (cl_image_path @cocktail.photo.key)
                                          end %>);">
  <div class="text-center container">
    <a href="https://github.com/bozinoski777/rails-mister-cocktail" target="_blank" style="text-shadow: 0px 0px 10px #000000;">
      <i class="fab fa-github-square"></i>
    </a>
    <p>Made with ♡ by Hristian Bozinoski</p>
  </div>
  <div class="sources d-flex justify-content-center">
    <p>
      Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
    </p>
    <p>
      ||
    </p>
    <p>
      Cocktails from the API of <a href="https://www.thecocktaildb.com">TheCocktailDB</a>
    </p>
  </div>
</div>

