<div class="card-product">
  <img src="<%= cl_image_path(cocktail_within.photo.key) if cocktail_within.photo.attached? %>" />
  <div class="card-product-infos">
    <h2><%= cocktail_within.name %></h2>
    <p><% cocktail_within.ingredients.each do |ing| %>
                                             <%= ing.name%>
                                              <% end %></p>
  </div>
</div>

