<!--Table-->
<table id="tablePreview" class="table">
<!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Ingredient</th>
      <th>Dose</th>
    </tr>
  </thead>
  <!--Table head-->
  <!--Table body-->
  <tbody>
    <% n = 1 %>
    <% @cocktail.doses.each do |dose| %>
    <tr>
    <th scope="row"> <%= n %> </th>
    <td> <%= dose.ingredient.name %> </td>
    <td> <%= dose.description %> </td>
    <%  n += 1  %>
    <% end %>
    </tr>
  </tbody>
  <!--Table body-->
</table>
<!--Table-->
