.banner_homepage {
  background-image: linear-gradient(rgba(32,0,0,0.6),
                    rgba(0,0,0,0.4)),
                    url(https://res.cloudinary.com/dj9iphc8u/image/upload/v1603980437/pexels-george-desipris-1028637_hls5ol.jpg);
  background-size: cover;
  background-position: top;
  padding: 70px 0;
  position: relative;
}
.banner_homepage h1 {
  top: 75px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 62px;
  font-weight: bold;
  text-shadow: 0px 0px 15px #000000;
  position: relative;
}
.banner_homepage p {
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  position: relative;
  top: 70px;
}
#new_arrow {
  transform: rotate(270deg);
  filter: invert(100%);
  width: 80px;
  position: absolute;
  right: 15px;
  top: 10px;
}
#search_arrow {
  filter: invert(100%);
  width: 55px;
  position: relative;
  top: -210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#create_arrow {
  filter: invert(100%);
  width: 80px;
  position: absolute;
  left: 15px;
  top: 10px;
  transform: scaleX(-1) rotate(270deg);
}
#new_wrapper {
  opacity: 0;
  transition: 1s;
  p {
    position: absolute;
    top: 58px;
    left: 95px;
  }
}
#search_wrapper {
  opacity: 0;
  transition: 1s;
  p {
    position: absolute;
    left: 48.5%;
    top: 55px;
  }
}
#create_wrapper {
  opacity: 0;
  transition: 1s;
  p {
    position: absolute;
    top: 52px;
    right: 95px;
  }
}
.banner_homepage:hover > .container > #new_wrapper {
  opacity: 1;
}
.banner_homepage:hover > .container > #search_wrapper {
  opacity: 1;
}
.banner_homepage:hover > .container > #create_wrapper {
  opacity: 1;
}
@media only screen and (max-width: 1000px) {
  #new_wrapper, #search_wrapper, #create_wrapper {
    display: none;
  }
}
