* {
  box-sizing: border-box;
}

// body, html {
//   width: 100%;
//   height: 100%;
//   display: -webkit-box;
//   display: flex;
//   -webkit-box-align: center;
//           align-items: center;
//   -webkit-box-pack: center;
//           justify-content: center;
//   background: orange;
// }

.wrapper {
  display: -webkit-box;
  // display: flex;
  width: 90%;
  justify-content: space-around;
}

.card {
  width: 260px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.3s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card .info h1 {
  position: relative;
  font-size: 2.2em;
  text-align: left;
  margin: 0px;
  text-shadow: 0px 0px 10px black;
  font-weight: bold;

}
.card .info ul {
  position: absolute;
  padding-left: 15px;
  bottom: -20px;
}
.card .info li {
  position: relative;
  text-align: left;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 0px;
}
.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.card .info button:hover {
  background: dodgerblue;
  color: white;
}
