.cocktail_list_wrapper {
  a {
    text-decoration: none;
    color: black;
  }
}
.card_product {
  overflow: hidden;
  height: 60px;
  width: 100%;
  margin-top: 5px;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.3s;
  border: 1px solid darkgray;
  border-radius: 10px;
}
.card_product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 70px;
}
.card_product img {
  height: 100%;
  width: 60px;
  object-fit: cover;
}
.card_product h2 {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
  transition: 0.3s;
}
.card_product:hover h2 {
  font-size: 30px;
  transition: 0.3s;
}
.card_product p, .ingredients_list {
  font-size: 15px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  transition: 0.3s;
}
.card_product:hover p {
  font-size: 15px;
  transition: 0.3s;
  opacity: 1;
}
.card_product .card_product_infos {
  padding: 16px;
}
