.banner_footer {
  background-size: cover;
  background-position: bottom;
  padding-top: 50px;
  i {
    color: white;
    font-size: 60px;
  }
}
.banner_footer h4 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 62px;
  font-weight: bold;
  text-shadow: 0px 0px 15px #000000;
}
.banner_footer p {
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
.sources p {
    font-size: 20px;
    padding: 5px;
}
