#add_ingredient {
  border: none;
  td, i {
    transition: 0.2s;
  }
}
#add_ingredient:hover {
  background-color: darkgray;
  color: white;
  cursor: pointer;
  outline: 1px solid lightgray;
  outline-offset: -1px;
  td {
    font-weight: bold;
  }
  i {
    transform: rotate(45deg);
  }
}
.divider {
  border-top: 1px solid lightgray;
  font-size: 37px;
  margin-bottom: 8px;
}
