.card-product {
  overflow: hidden;
  height: 60px;
  width: 100%;
  margin-top: 5px;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.card-product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 100px;
}
.card-product img {
  height: 100%;
  width: 60px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
  transition: 0.3s;
}
.card-product:hover h2 {
  font-size: 40px;
  transition: 0.3s;
}

.card-product p, .ingredients-list {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  transition: 0.3s;
  // margin-top: 8px;
}
.card-product:hover p {
  font-size: 15px;
  transition: 0.3s;
  opacity: 1;
}

.card-product .card-product-infos {
  padding: 16px;
}
