.thumb-list-toggle {
  text-align: center;
  width: 34px;
}
.thumb-toggle {
  border: 1px solid black;
  border-radius: 10px;
  width: 47px;
  height: 43px;
  transition: 0.2s;
}
#cocktails_section {
  position: relative;
}
#toggle-name {
  position: absolute;
  top: 10px;
  right: 65px;
  opacity: 0;
}
.thumb-toggle:hover {
  border: 1px solid black;
  border-radius: 10px;
  width: 130px;
  height: 43px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}
.thumb-toggle:hover + #toggle-name{
  opacity: 1;
  transition: 0.3s;
}
#toggle_icon {
  text-align: center;
  width: 34px;
}
#cocktails_index_wrapper {
  position: relative;
}
.toggle_text_index {
  position: absolute;
  top: 10px;
  right: 47px;
  opacity: 0;
  color: black;
}
.toggle_button_index {
  border: 1px solid black;
  border-radius: 10px;
  width: 47px;
  height: 43px;
  transition: 0.2s;
  position: absolute;
  right: 21px;
  top: -27px;
  img{
    text-align: center;
    width: 34px;
    position: absolute;
    right: 5px;
    top: 4px;
  }
}
.toggle_button_index:hover {
  border: 1px solid black;
  border-radius: 10px;
  width: 130px;
  height: 43px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}
.toggle_button_index:hover {
  .toggle_text_index {
    opacity: 1;
    transition: 1.2s;
  }
}

