.card-product {
  overflow: hidden;
  height: 60px;
  width: 100%;
  // margin: 10px;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.card-product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-product img {
  height: 100%;
  width: 60px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
