.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  position: relative;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


#logo_border{
  border: 1px solid black;
  border-radius: 10px;
  transition: .2s;
  width: 80px;
  height: 54px;
  p {
    opacity: 0;
    top: 7px;
    left: 3px;
    position: relative;
    color: black;
  }
#new_cocktail_nav, #nav_logo{
  transform: rotate(0deg);
  transition: .2s;
  position: relative;
  top: -2px;
}
}

#logo_border:hover{
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  width: 195px;
  transition: .2s;
  background-color: white;

#nav_logo{
  -webkit-transform: rotate(10deg);
  transform-origin: center;

}
  p{
    transition: .2s;
    opacity: 1;
  }
}

#new_cocktail_border{
  border: 1px solid black;
  border-radius: 10px;
  transition: .2s;
  width: 80px;
  // position: relative;
  text-align: right;
  float: right;
  height: 54px;
  p {
    opacity: 0;
    top: 8px;
    right: 70px;
    position: absolute;
  }
}

#new_cocktail_border:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  width: 195px;
  transition: .2s;
  background-color: white;
    p {
      opacity: 1;
      top: 15px;
      right: 73px;
      position: absolute;
    }
    #new_cocktail_nav {
      -webkit-transform: rotate(10deg);
      transform-origin: center;
      }
}

  #new_cocktail_nav {
    position: absolute;
    top: 11px;
    right: 36px;
  }
