.search_bar_wrapper {
  border-radius: 10px;
  box-shadow: none;
  left: 50%;
  width: 57px;
  input {
    opacity: 0;
    border: 1px solid white;
    border-radius: 10px;
    }
  #input_text {
    border-radius: 10px;
    height: 53px;
    width: 100%;
  }
  .custom-switch {
    padding-left: 2.25rem;
    padding-bottom: 1rem; // added for positioning
    opacity: 0;
  }
  .custom-control-label { // added for alignment with the switch
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.1rem;
  }
  .custom-switch .custom-control-label::before {
    left: -2.25rem;
    height: 2rem;
    width: 3.5rem;    // it was 1.75rem before. Sliding way is longer than before.
    pointer-events: all;
    border-radius: 1rem;
  }
  .custom-switch .custom-control-label::after {
    top: calc(0.25rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(2rem - 4px);   // it was calc(1rem - 4px) before. Oval is bigger than before.
    height: calc(2rem - 4px);  // it was calc(1rem - 4px) before. Oval is bigger than before.
    background-color: #adb5bd;
    border-radius: 2rem; //   it was 0.5rem before. Oval is bigger than before.
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .custom-switch .custom-control-label::after {
      transition: none;
    }
  }
  .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(1.5rem); //translateX(0.75rem);
    transform: translateX(1.5rem); //translateX(0.75rem);
  }
}
.custom-switch {
  padding-left: 3.25rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
}
#searchbar_button {
  border: 1px solid black;
  transition: 0.8s;
  #input_text {
    transition: 0.1s;
    opacity: 0;
  }
  .custom-switch {
    opacity: 0;
    transition: 0.1s;
  }
}
#searchbar_button:hover {
  background-color: white;
  opacity: 1;
  width: 25%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.37);
  #input_text {
    transition: 2s;
    opacity: 1;
  }
  .custom-switch {
    transition: 8s;
    opacity: 1;
    margin-left: 10px;
  }
}
#search_icon {
  position: relative;
  width: 35px;
  left: -5px;
}
@media only screen and (max-width: 1000px) {
  .btn {
    display: none;
  }
  #search_icon {
    display: none;
  }
  #searchbar_button{
    display: none;
  }
  #searchbar_button {
    border: none;
    transition: 0s;
  }
  #searchbar_button #input_text {
    transition: 0s;
    opacity: 1;
  }
  .searchbar_button:hover > button {
    display: none;
  }
  #search_icon {
    display: none;
  }
  #searchbar_button:hover {
    display: none;
  }
  .custom-switch {
    display: none;
  }
  .search_bar_wrapper {
    display: none;
  }
  #searchbar_button:hover {
    background-color: none;
    opacity: 1;
    box-shadow: none;
    #input_text {
      transition: 0s;
      opacity: 1;
    }
    .custom-switch {
      transition: 8s;
      opacity: 0;
      margin-left: 10px;
    }
  }
}
