button {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
}
  .search_bar {
  border-radius: 50px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.37);
  background-color: white;
  padding: 3px;
  padding-top: 7px;
  margin: 3px;
  position: relative;
  width: 62px;
  input {
    opacity: 0;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;

    }

    #input_text {
      border-radius: 50px 50px 50px 50px;
      height: 50px;
    }
    .custom-switch {
      padding-left: 2.25rem;
      padding-bottom: 1rem; // added for positioning
      opacity: 0;
    }

    .custom-control-label { // added for alignment with the switch
      padding-top: 0.5rem;
      padding-left: 2rem;
      padding-bottom: 0.1rem;
    }

    .custom-switch .custom-control-label::before {
      left: -2.25rem;
      height: 2rem;
      width: 3.5rem;    // it was 1.75rem before. Sliding way is longer than before.
      pointer-events: all;
      border-radius: 1rem;
    }

    .custom-switch .custom-control-label::after {
      top: calc(0.25rem + 2px);
      left: calc(-2.25rem + 2px);
      width: calc(2rem - 4px);   // it was calc(1rem - 4px) before. Oval is bigger than before.
      height: calc(2rem - 4px);  // it was calc(1rem - 4px) before. Oval is bigger than before.
      background-color: #adb5bd;
      border-radius: 2rem; //   it was 0.5rem before. Oval is bigger than before.
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    }
    @media (prefers-reduced-motion: reduce) {
      .custom-switch .custom-control-label::after {
        transition: none;
      }
    }

    .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
      background-color: #fff;
      -webkit-transform: translateX(1.5rem); //translateX(0.75rem);
      transform: translateX(1.5rem); //translateX(0.75rem);
    }
}
.custom-switch {
  padding-left: 3.25rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
}

#whole_searchbar {
  // width: 0px;
  // height: 0px;
  // opacity: 0;
  transition: 0.8s;
  #input_text {
  transition: 0.8s;
  }
  .custom-switch {
  transition: 0.8s;
  }
}


#whole_searchbar:hover {
  opacity: 1;
  width: 60%;
  #input_text {
    opacity: 1;
  }
  .custom-switch {
    opacity: 1;
  }
}
