.thumb-list-toggle {
  text-align: center;
  width: 34px;
}

.thumb-toggle {
  border: 1px solid black;
  border-radius: 10px;
  width: 47px;
  height: 43px;
  transition: 0.2s;
}

#cocktails_section {
  position: relative;
}
#toggle-name {
  position: absolute;
  top: 11px;
  right: 62px;
  opacity: 0;
}

.thumb-toggle:hover {
  border: 1px solid black;
  border-radius: 10px;
  width: 130px;
  height: 43px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

.thumb-toggle:hover + #toggle-name{
  opacity: 1;
  transition: 0.3s;
}



.thumb-list-toggle-index {
  text-align: center;
  width: 34px;
}

.thumb-toggle-index {

}

#cocktails_section-index {
  position: relative;
}
.toggle-name-index {
  position: absolute;
  top: 11px;
  right: 47px;
  opacity: 0;
}
.whole_encilada-index {
  border: 1px solid black;
  border-radius: 10px;
  width: 47px;
  height: 43px;
  transition: 0.2s;
  position: absolute;
      right: 21px;
      /* transform-origin: right; */
      top: -27px;
  img{
    text-align: center;
    width: 34px;
    position: absolute;
    right: 5px;
    top: 4px;
}
  }

.whole_encilada-index:hover {
  border: 1px solid black;
  border-radius: 10px;
  width: 130px;
  height: 43px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
  }

.whole_encilada-index:hover {
  .toggle-name-index {
    opacity: 1;
    transition: 1s;
  }

}

